.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #eee;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.body {
  height: 100vh;
  width: 100vw;
}

.modal {
  position: relative !important;
  margin: 0 auto !important;
  display: block !important;
  width: 85vw !important;
}

.modal-dialog {
  height: calc(100vh - 20%);
  max-width: 100vw !important;
}

.modal-content {
  background: white;
  border-radius: 12px !important;
  border: none !important;
  box-shadow: 0 3px 19px -9px #777;
  width: 92% !important;
  margin: 0 auto !important;
  height: 100%;
}

.svg-inline--fa {
  height: 2em;
}

.pin-marker {
  color: black;
  background: white;
  font-weight: 600;
  padding: 12px 10px;
  border: 2px solid black;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  border-radius: 5px;

  top: -20px;
  position: relative;
}

.cluster-marker {
  color: black;
  background: white;
  font-weight: 600;
  padding: 13px;
  font-size: 15px;
  border: 2px solid black;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 0px;
  position: relative;
}


.arrow {
 /* Position at the bottom center */
  bottom: -11px;
  position: absolute;
  left: 50%;

  /* Border */
  background-color: #FFF;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  border-right: 2px solid rgba(0, 0, 0, 1);
  transform: translate(-50%, -50%) rotate(45deg);

  /* Size */
  height: 10px;
  width: 10px;
}

.gmnoprint,
.gm-control-active,
.gm-fullscreen-control {
  display: none !important;
}

a[title="Report errors in the road map or imagery to Google"],
img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"] {
  display: none !important;
}