
.body {
  height: 100vh;
  width: 100vw;
}

.modal {
  position: relative !important;
  margin: 0 auto !important;
  display: block !important;
  width: 85vw !important;
}

.modal-dialog {
  height: calc(100vh - 50%);
  max-width: 100vw !important;
  margin: 14% auto;
}

.modal-content {
  background: white;
  border-radius: 12px !important;
  border: none !important;
  box-shadow: 0 3px 19px -9px #777;
  width: 92% !important;
  margin: 0 auto !important;
  height: 100%;

  .input-group-text {
    padding: 0.75rem;
    border-radius: 0.25rem 0 0 0.25rem;
  }

  .close {
    float: right;
  }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background: none !important;
}